<div class='page-header'>
  <h1>Todo Lists</h1>
</div>

<div class='row'>
  <div class='col-md-2'></div>
  <div class='col-md-10 col-sm-12'>
    <ul class='list-group' id='main-list'>
      <li class='list-group-item alt'>
        <h3 class='compact'>
          <%= link_to 'Add a new list', new_todo_list_path, remote: true, class: 'no-link-color' %>
          <%= link_to new_todo_list_path, remote: true, class: 'no-link-color' do %>
            <% content_tag(:span, '', class: 'pull-right glyphicon glyphicon-plus-sign') %>
          <% end %>
        </h3>
        <div class='hidden' id='form-container'></div>
      </li>
      <%= render partial: 'todo_list', collection: @todo_lists %>
    </ul>
  </div>
  <div class='col-md-12 text-center'>
    <%= will_paginate @todo_lists, renderer: BootstrapPagination::Rails %>
  </div>
</div>
