<div class='page-header'>
  <h3>
    New Todo List
    <button class='btn btn-warning pull-right' id='cancel-btn'><span class='glyphicon glyphicon-remove'></span></button>
  </h3>
</div>

<%= render 'form' %>
